body {
  background-color: #c9e3e8;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
body h1 {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 45px;
  color: #0097b2;
}
.tableau {
  border-collapse: collapse;
}
.tableau td,
.tableau th {
  border: 3px solid #b2580d;
  padding: 10px;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  color: #ff9640;
}
.tableau th {
  font-weight: bold;
  color: #ff8825;
}
