@bleuFonce : #0097B2;
@bleu : #25DEFF;
@orangeFonce : #B2580D;
@orange : #FF8825;
@orangePale : #FF9640;


body {
	background-color: #FFF;

	h1 {
		font-family: Open Sans;
		font-weight: bold;
		font-size: 45px;
	}
}

.tableau {
	border-collapse : collapse;

	td, th {
		border: 3px solid @orangeFonce;
		padding: 20px;
		font-family: Roboto;
		font-size: 20px;

	}
}